* {
  font-family: Georgia, "Times New Roman", Times, serif;
}
body {
  padding: 20px;
  color: white;
  background-color: rgb(27, 35, 41);
}
button {
  border: none;
  outline: none;
  padding: 10px 20px;
  border-radius: 3px;
  cursor: pointer;
}
